In [ ]:
a=[10,20,30,40]

In [ ]:
for i in a:
  print(i,end=" ")

10 20 30 40

In [ ]:
i = 0
while i < len(a):
    print(a[i])
    i += 1

10
20
30
40

In [ ]:
for i in a:
  if i==30:
    print("Value found")
    break
else:
    print("Value not found")

Value found

In [ ]:
if 30 in a:
  print("30 is present in the list")
else:
  print("30 is not present in the list")

30 is present in the list

In [ ]:
for i in range(len(a)):
  if a[i]==30:
    print(i)
    break

2

In [ ]:
items=[10,20,30,40,50,60,70,80]
print(items.index(80))

7

In [ ]:
a=[10,20,30,40,58,90,23,56,78,98,34,13,57,57,89,33,45,87,11,29,3,4,11,29,3,4,9,10,20,47,56,6,87,72,84]
len(a)

35

In [ ]:
a[len(a)-1]

84

In [ ]:
a[-4]

6

In [ ]:
a[-12]

29

In [ ]:
list_1=[1,21,12,6,10,67,91,99,26,7,18,11,98,27,3,15,22,21,23]

In [ ]:
list_1[-19]

1

In [ ]:
list_1[-len(list_1)]

1

In [ ]:
information=[1,"ABC",84.9,'a']
print(information)

[1, 'ABC', 84.9, 'a']

In [ ]:
information[1]

'ABC'

In [ ]:
information.append("Hello")
print(information)

[1, 'ABC', 84.9, 'a', 'H', 'e', 'l', 'l', 'o', 'Hello']

In [ ]:
information+="Hello"

In [ ]:
information

[1, 'ABC', 84.9, 'a', 'Hello', 'H', 'e', 'l', 'l', 'o']

In [ ]:
information[1]="xyz"

In [ ]:
information

[1,
 'xyz',
 84.9,
 'a',
 'H',
 'e',
 'l',
 'l',
 'o',
 'Hello',
 'H',
 'e',
 'l',
 'l',
 'o']

In [ ]:
information[0:3]

[1, 'xyz', 84.9]

In [ ]:
information[:0]
information[:1]
information[:3]

[1, 'xyz', 84.9]

In [ ]:
information[1:]

['xyz', 84.9, 'a', 'H', 'e', 'l', 'l', 'o', 'Hello', 'H', 'e', 'l', 'l', 'o']

In [ ]:
information[::4]

[1, 'H', 'o', 'l']

In [ ]:
information[1:6:2]

['xyz', 'a', 'e']

In [ ]:
information[::3]

[1, 'a', 'l', 'Hello', 'l']

In [ ]:
information[::-1]

['o',
 'l',
 'l',
 'e',
 'H',
 'Hello',
 'o',
 'l',
 'l',
 'e',
 'H',
 'a',
 84.9,
 'xyz',
 1]

In [ ]:
student_2=[2,"STU",8.58,"Female","India","9876543210"]

In [ ]:
student_2[::-3]

['9876543210', 8.58]

In [ ]:
student_2[::2]

[2, 8.58, 'India']

`Write a Python code to create a list of 100 elements, where all the entries are same number, and the number is given by the user.\`

In [ ]:
number = float(input("Enter a number: "))
number_list = [number] * 100
print(number_list)

Enter a number: 4
[4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0]

1) Write a Python code to create a list of first 10 odd elements without using decision making statements.

In [ ]:
odd_numbers = [i for i in range(1, 20, 2)]
print(odd_numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

2) `Write a Python code to create a list of 1 to 10 elements and from the list created, create another list with only odd values.`

In [ ]:
list1=list(range(1,11))
odd=list1[::2]
print(list1)
print(odd)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]

In [ ]:
numbers = list(range(1, 11))
odd_numbers = [num for num in numbers if num % 2 != 0]
print("Original list:", numbers)
print("Odd numbers list:", odd_numbers)

Original list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Odd numbers list: [1, 3, 5, 7, 9]

3) Write a Python code to create a list of 1 to 10 elements and from the list created, create another list with only even values.

In [ ]:
even=list1[1::2]
print(even)

[2, 4, 6, 8, 10]

In [ ]:
numbers = list(range(1, 11))
even_numbers = [num for num in numbers if num % 2 == 0]
print("Original list:", numbers)
print("Even numbers list:", even_numbers)

Original list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Even numbers list: [2, 4, 6, 8, 10]

Concatenation

In [ ]:
list_1=['a','b','c','d']
print(list_1)
list_2=['Python','list']
print(list_2)

['a', 'b', 'c', 'd']
['Python', 'list']

Write a Python code to create a list, which extracts elements from the string given by user.

In [ ]:
string = input("Enter a string: ")
list_1 = list(string)
print(list_1)

Enter a string: Nanu
['N', 'a', 'n', 'u']

Write a Python program to get the input from the user for creating two lists and add the elements of one list into other.

In [ ]:
def get_list_input(prompt):
    print(prompt)
    user_input = input("Enter elements (space-separated): ")
    user_list = user_input.split()
    return user_list


list1 = get_list_input("Enter the elements for the first list:")
list2 = get_list_input("Enter the elements for the second list:")

list1.extend(list2)

print("The updated list after adding elements of list2 to list1:")
print(list1)

Enter the elements for the first list:
Enter elements (space-separated): 43
Enter the elements for the second list:
Enter elements (space-separated): 47

The updated list after adding elements of list2 to list1:
['43', '47']