In [ ]:
numbers = list(map(int, input("Enter numbers separated by spaces: ").split()))
max_number = max(numbers)
print("The maximum number is:", max_number)

Enter numbers separated by spaces: 3 10 20 30
The maximum number is: 30

In [ ]:
n=list(map(int,input("enter the number").split()))
m=max(n)
print("the max number",m)

enter the number1 2 3 4 5
the max number 5

In [ ]:
n=list(map(int,input("enter the number").split()))
m=sum(n)
print("the sum is",m)

enter the number4 2 5 2 9
the sum is 22

In [ ]:
n=list(map(int,input("enter the number").split()))
m=sum(n)
print("the sum is",m)

enter the number1 7 2 5 -1
the sum is 14

In [ ]:
numbers = list(map(int, input("Enter numbers separated by spaces: ").split()))
max_number = max(numbers)
print("The maximum number is:", max_number)

Enter numbers separated by spaces: 1 7 2 5 -1
The maximum number is: 7

In [ ]:
numbers = [1, 7, 2, 5, -1]
stringified = list(map(str, numbers))
print(max(stringified))

7

In [ ]:
x="hi how are you"
words=x.split()
print(words)

['hi', 'how', 'are', 'you']

In [ ]:
def count_distinct_elements(input_list):
    distinct_elements = set(input_list)
    return len(distinct_elements)
input_list = [5, 3, 2, 3, 780, 90]

print("Number of distinct elements:", count_distinct_elements(input_list))

Number of distinct elements: 5

In [ ]:
fruits=["apple","banana","cherry","kiwi","mango"]
newlist=[x for x in fruits if "a" in x]
print(newlist)

['apple', 'banana', 'mango']

In [ ]:
x,y=[int(x)for x in input().split()]
print("First Number is:",x)
print("Second Number is:",y)

5 20
First Number is: 5
Second Number is: 20

In [ ]:
x=[int(x)for x in input().split()]
print("Number of list is:",x)

5 15 10 5
Number of list is: [5, 15, 10, 5]